<!DOCTYPE html>
<html ng-app="chordsStationApp">
    <head>
        <meta charset="utf-8">
        <title>Chords Station</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gamja+Flower|Merriweather|Roboto+Slab">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body ng-controller="dataEntryController" ng-cloak>
        <center>
            <h2 class="title">Chords Station</h2>

            <!-- Add Artists -->
            <div ng-controller="artistController as ctrl">
                <md-content class="md-padding" layout="row" flex>
                    <md-card flex>
                        <span class="md-headline" layout="row" layout-align="center">Add <strong>&nbsp;Artist</strong></span>
                        <md-card-title>
                            <md-card-title-media class="extraPaddingHorizontal">
                                <span class="md-subhead">Artist Image: </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisArtist.displayImage" placeholder="google.com/kanyewest.jpg">
                                </md-input-container>
                                <div class="md-media-md card-media">
                                    <img ng-src="{{thisArtist.displayImage}}">
                                </div>

                                <span class="md-subhead">Albums Selected: </span>
                                <div class="carousel"
                                 data-flickity='{ "freeScroll": true, "cellAlign": "left", "contain": true }'>
                                    <div class="carousel-cell" ng-repeat="item in selectedAlbums">
                                        {{item.title}}
                                    </div>
                                </div>
                            </md-card-title-media>
                            <md-card-title-text>
                                <span class="md-subhead">Name: </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisArtist.name" placeholder="Dwayne Michael Carter Jr.">
                                </md-input-container>

                                <span class="md-subhead">Stage Name: </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisArtist.stageName" placeholder="Lil Wayne">
                                </md-input-container>

                                <span class="md-subhead">Date of Birth: </span>
                                <md-input-container md-no-float class="md-block">
                                    <md-datepicker ng-model="thisArtist.born" md-current-view="year" md-placeholder="Enter Date"></md-datepicker>
                                </md-input-container>

                                <span class="md-subhead">Description: </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisArtist.description">
                                </md-input-container>

                                <span class="md-subhead">Albums: </span>
                                <md-autocomplete
                                    md-selected-item="selectedFromSearchAlbum"
                                    md-selected-item-change="pushToArray(thisArtist.albums, selectedFromSearchAlbum, selectedAlbums)"
                                    md-search-text-change="search('Albums', this, querySearchAlbum)"
                                    md-search-text="querySearchAlbum"
                                    md-items="item in this.allItems"
                                    md-item-text="item.title"
                                    md-min-length="3"
                                    md-no-cache="false"
                                    md-menu-class="autocomplete"
                                    placeholder="Hybrid Theory, Aalas Ke Pedh ...">
                                    <md-item-template>
                                        <span md-highlight-text="querySearchAlbum" md-highlight-flags="^i">{{item.title}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No albums matching '"{{querySearchAlbum}}"' were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised" ng-click="addArtist(thisArtist)">Save</md-button>
                        </md-card-actions>
                    </md-card>
                </md-content>
            </div>

            <!-- Add Albums -->
            <div ng-controller="albumController as ctrl">
                <md-content class="md-padding" layout="row" flex>
                    <md-card flex>
                        <span class="md-headline" layout="row" layout-align="center">Add <strong>&nbsp;Albums</strong></span>
                        <md-card-title>
                            <md-card-title-media class="extraPaddingHorizontal">
                                <span class="md-subhead">Album Image: </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisAlbum.albumImage" placeholder="google.com/kanyewest.jpg">
                                </md-input-container>
                                <div class="md-media-md card-media">
                                    <img ng-src="{{thisAlbum.albumImage}}">
                                </div>

                                <span class="md-subhead">Artist Selected: </span>
                                <div>
                                    {{selectedFromSearchArtist.name}}
                                </div>
                                <span class="md-subhead">Songs Selected: </span>
                                <div class="carousel"
                                 data-flickity='{ "freeScroll": true, "cellAlign": "left", "contain": true }'>
                                    <div class="carousel-cell" ng-repeat="item in selectedSongs">
                                        {{item.title}}
                                    </div>
                                </div>
                            </md-card-title-media>
                            <md-card-title-text>
                                <span class="md-subhead">Title: </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisAlbum.title" placeholder="The Madness of Many">
                                </md-input-container>

                                <span class="md-subhead">Artist: </span>
                                <md-autocomplete
                                    md-selected-item="selectedFromSearchArtist"
                                    md-selected-item-change="thisAlbum.artist = selectedFromSearchArtist._id"
                                    md-search-text-change="search('Artists', this, querySearchArtist)"
                                    md-search-text="querySearchArtist"
                                    md-items="item in this.allItems"
                                    md-item-text="item.stageName"
                                    md-min-length="3"
                                    md-no-cache="false"
                                    md-menu-class="autocomplete"
                                    placeholder="Animals as Leaders">
                                    <md-item-template>
                                        <span md-highlight-text="querySearchArtist" md-highlight-flags="^i">{{item.stageName}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No Artists matching "{{querySearchArtist}}" were found.
                                    </md-not-found>
                                </md-autocomplete>

                                <span class="md-subhead">Release Date: </span>
                                <md-input-container md-no-float class="md-block">
                                    <md-datepicker ng-model="thisAlbum.releaseDate" md-current-view="year" md-placeholder="Enter Date"></md-datepicker>
                                </md-input-container>

                                <span class="md-subhead">Description: </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisAlbum.description">
                                </md-input-container>

                                <span class="md-subhead">Contribution/Featured-In Songs: </span>
                                <md-autocomplete
                                    md-selected-item="selectedFromSearchSong"
                                    md-selected-item-change="pushToArray(thisAlbum.songs, selectedFromSearchSong, selectedSongs)"
                                    md-search-text-change="search('Songs', this, querySearchSong)"
                                    md-search-text="querySearchSong"
                                    md-items="item in this.allItems"
                                    md-item-text="item.title"
                                    md-min-length="3"
                                    md-no-cache="false"
                                    md-menu-class="autocomplete"
                                    placeholder="Ectogenesis, Cognitive Contortions ...">
                                    <md-item-template>
                                        <span md-highlight-text="querySearchSong" md-highlight-flags="^i">{{item.title}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No albums matching '"{{querySearchSong}}"' were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised" ng-click="addAlbum(thisAlbum)">Save</md-button>
                        </md-card-actions>
                    </md-card>
                </md-content>
            </div>

            <!-- Add Songs -->
            <div ng-controller="songController as ctrl">
                <md-content class="md-padding" layout="row" flex>
                    <md-card flex>
                        <span class="md-headline" layout="row" layout-align="center">Add <strong>&nbsp;Song</strong></span>
                        <md-card-title>
                            <md-card-title-media class="extraPaddingHorizontal">
                                <span class="md-subhead">Song Image: </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisSong.songImage" placeholder="thelocaltrain.com/aaftaab.jpg">
                                </md-input-container>
                                <div class="md-media-md card-media">
                                    <img ng-src="{{thisSong.songImage}}">
                                </div>

                                <span class="md-subhead">Selected Album: </span>
                                <div> {{selectedFromSearchAlbum.title}} </div>

                                <span class="md-subhead">Featured Artists Selected: </span>
                                <div class="carousel"
                                 data-flickity='{ "freeScroll": true, "cellAlign": "left", "contain": true }'>
                                    <div class="carousel-cell" ng-repeat="item in selectedFtArtists">
                                        {{item.stageName}}
                                    </div>
                                </div>
                            </md-card-title-media>
                            <md-card-title-text>
                                <span class="md-subhead">Title: </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisSong.title" placeholder="Dil Mere">
                                </md-input-container>

                                <span class="md-subhead">Youtube Link (Review before Saving): </span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisSong.youtubeLink" placeholder="https://www.youtube.com/watch?v=qLCLvzTGFVM">
                                </md-input-container>
                                <div> {{thisSong.youtubeLink}} </div>

                                <span class="md-subhead">Genre</span>
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="thisSong.genre" placeholder="Alternative">
                                </md-input-container>

                                <span class="md-subhead">Album: </span>
                                <md-autocomplete
                                    md-selected-item="selectedFromSearchAlbum"
                                    md-selected-item-change="thisSong.album = selectedFromSearchAlbum._id"
                                    md-search-text-change="search('Albums', this, querySearchAlbum)"
                                    md-search-text="querySearchAlbum"
                                    md-items="item in this.allItems"
                                    md-item-text="item.title"
                                    md-min-length="3"
                                    md-no-cache="false"
                                    md-menu-class="autocomplete"
                                    placeholder="Dilwale, Recovery ...">
                                    <md-item-template>
                                        <span md-highlight-text="querySearchAlbum" md-highlight-flags="^i">{{item.title}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No albums matching '"{{querySearchAlbum}}"' were found.
                                    </md-not-found>
                                </md-autocomplete>

                                <span class="md-subhead">Featured Artists: </span>
                                <md-autocomplete
                                    md-selected-item="selectedFromSearchFtArtist"
                                    md-selected-item-change="pushToArray(thisSong.featuredArtists, selectedFromSearchFtArtist, selectedFtArtists)"
                                    md-search-text-change="search('Artist', this, querySearchFtArtist)"
                                    md-search-text="querySearchFtArtist"
                                    md-items="item in this.allItems"
                                    md-item-text="item.stageName"
                                    md-min-length="3"
                                    md-no-cache="false"
                                    md-menu-class="autocomplete"
                                    placeholder="Lil Wayne, Arijit Singh ...">
                                    <md-item-template>
                                        <span md-highlight-text="querySearchFtArtist" md-highlight-flags="^i">{{item.stageName}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No artists matching '"{{querySearchFtArtist}}"' were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised" ng-click="addSong(thisSong)">Save</md-button>
                        </md-card-actions>
                    </md-card>
                </md-content>
            </div>
        </center>
    </body>

    <!-- Angular, Material and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.2/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="app.js"></script>
</html>
